@import "navbar";
@import "presentation";
@import "tags";
@import "about";
@import "skills";
@import "loading";
@import "contact";
@import "form";

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
// #ece4b7
body {
  font-family: 'Inconsolata', monospace;
  background-color: #fefae0;
}

.margin-auto {
  margin: 0 auto;
}

.landing-page {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-shrink: 0;
}

.right-content {
  height: 100vh;
  width: 100%;
  display: flex;
}

.center {
  text-align: center;
}

.p-12 {
  padding: 12px;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center
}

.m-5 {
  margin: 50px;
}

.underline {
  text-decoration: underline;
}

.set-animation {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

