.tags {
  position: absolute;
  font-family: 'Caveat', cursive;
  font-size: 20px;
  color: #d4a373;
  opacity: .6;
}

.open-body {
  top: 36px;
  left: 120px;
}

.close-body {
  bottom: 66px;
  left: 120px;
}

.close-html {
  bottom: 36px;
  left: 80px;
}

.open-h1 {
  top: 156px;
  left: 174px;
}

.close-h1 {
  bottom: 172px;
  left: 584px;
}

@media screen and (max-width: 720px) {
  .tags {
    display: none;
  }
}
